/.idea/
/Minesweeper/Are you a designer/task-info.yaml
/Minesweeper/Are you a designer/task-remote-info.yaml
/Minesweeper/Final touches/task-info.yaml
/Minesweeper/Final touches/task-remote-info.yaml
/Minesweeper/Functionality/task-info.yaml
/Minesweeper/Functionality/task-remote-info.yaml
/Minesweeper/Minesweeper is loading/task-info.yaml
/Minesweeper/Minesweeper is loading/task-remote-info.yaml
/Minesweeper/lesson-info.yaml
/Minesweeper/The main characters  cells/task-remote-info.yaml
/Minesweeper/The main characters  cells/task-info.yaml
/course-remote-info.yaml
/course-info.yaml
/node_modules/
